<template>
  <section class="container mx-auto mt-8">
    <Suspense>
      <OrderList />
    </Suspense>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import OrderList from "./components/OrderList.vue";

export default defineComponent({
  name: "App",
  components: {
    OrderList,
  },
});
</script>
